<app-header></app-header>
<section id="bgReset">
  <div class="container">
    <div class="modalTem row">

      <div class="row col-6 bg-white rounded p-0 text-center p-4 justify-content-center">

        <div *ngIf="this.activationOk === 0" class="col-12 my-3 spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>

        <p *ngIf="this.activationOk === 1" class="m-2 p-4 bg-success text-white rounded">Su cuenta ha sido activada correctamente</p>
        <p *ngIf="this.activationOk === 2" class="m-2 p-4 bg-danger text-white rounded">Error en activar la cuenta</p>

        <a class="links my-1" [routerLink]="['/home']"><<< Login</a>
      </div>      
    </div>
  </div>
</section>
