<section id="bgReset">
  <div class="container">
    <div class="modalTem row">

      <div *ngIf="!this.token" class="row col-6 bg-white rounded p-0 justify-content-center p-4">

        <p class="m-2">Para recuperar su contraseña por favor ingrese el correo electronico con el cual este registrado.
        </p>
        <p *ngIf="this.emailErr" class="bg-danger text-white text-center rounded p-1">Correo invalido</p>
        <div *ngIf="!this.emailOk" class="input-group p-0 my-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="email" [(ngModel)]="this.email" class="form-control" placeholder="Email" aria-label="Email"
            aria-describedby="basic-addon1" pattern="email">
        </div>
        <p *ngIf="this.emailOk" class="bg-success text-white text-center rounded p-1">El correo ha sido enviado con
          exito</p>
        <button *ngIf="!this.emailOk" type="button" (click)="sendEmail()" class="btn btn-success my-3">
          <span *ngIf="!this.spinner" id="enviar">Enviar</span>
          <div *ngIf="this.spinner" id="spinner" class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>

        <a class="links my-1" [routerLink]="['/home']"><<< Volver</a>
      </div>
      <div *ngIf="this.token" class="row col-6 bg-white rounded p-0 justify-content-center p-4">

        <div *ngIf="!this.success" class="row">

          <p *ngIf="this.passErr" class="bg-danger text-white text-center rounded p-1">Las contraseñas no coinciden
          </p>
          <div class="input-group p-0 my-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
            <input type="password" [(ngModel)]="this.pass1" class="form-control" placeholder="Nueva password"
              aria-label="Pass" aria-describedby="basic-addon1">
          </div>

          <div class="input-group p-0 my-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
            <input type="password" [(ngModel)]="this.pass2" class="form-control" placeholder="Confirmar password"
              aria-label="Passc" aria-describedby="basic-addon1">
          </div>

          <button type="button" (click)="sendPass()" class="btn btn-success my-3">
            <span *ngIf="!this.spinner" id="enviar">Guardar</span>
            <div *ngIf="this.spinner" id="spinner" class="spinner-border text-light" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>

        </div>

        <div *ngIf="this.success" class="row">
          <p class="bg-success text-white text-center rounded p-2 my-3">Se ha actualizado la contraseña con exito</p>
        </div>




        <a class="links my-1" [routerLink]="['/home']"> <<< Inicio</a>
      </div>

      
    </div>
  </div>
</section>