<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid">
          <a [routerLink]="['/home']" class="links navbar-brand font-weight-bolder ms-lg-0 ms-3">
            AngularTransfer
          </a>

          <a [routerLink]="['/home']" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">
            Portal usuarios
          </a>
      
          <a [routerLink]="['/loginatm']" class="btn btn-sm btn-round mb-0 me-1 bg-gradient-dark">
            Portal ATM
          </a>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
<section>
  <div class="page-header section-height-75">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
          <div class="card card-plain mt-8">
            <div class="card-header pb-0 text-left bg-transparent">
              <h3 class="font-weight-bolder text-info text-gradient">Recuperar password</h3>
            </div>


            <div *ngIf="!this.token" class="card-body">
              <p class="m-2">
                Ingrese el correo electronico con el cual este registrado.
              </p>
              <p *ngIf="this.emailErr" class="mb-0 text-danger">Correo invalido</p>


              <form *ngIf="!this.sent" role="form text-left">

                <label>Email</label>
                <div class="mb-3">
                  <input type="email" [(ngModel)]="this.email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                </div>
                
                <div class="text-center">
                  <button  type="button" (click)="sendEmail()" class="btn bg-gradient-info w-100 mt-4 mb-0">
                    <div *ngIf="!this.spinner">
                      Enviar correo
                    </div>
                    <div *ngIf="this.spinner" class="spinner-border text-light" style="width: 1rem; height: 1rem;" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                </div>

              </form>

              <div *ngIf="this.sent" role="form text-left">         
                <div class="p-2 bg-gradient-info rounded text-white text-center">
                  <p class="mb-0">Correo enviado con exito.</p>
                  <p class="mb-0">Por favor revise su correo</p>
                </div>

              </div>

            </div>

            <div *ngIf="this.token" class="card-body">


              <form *ngIf="!this.sent" role="form text-left">

                <p *ngIf="this.passErr" class="my-1 text-danger">Correo invalido</p>

                <label>Nueva contraseña</label>
                <div class="mb-3">
                  <input type="password" [(ngModel)]="this.pass1" name="pass1" class="form-control" placeholder="Nueva contraseña" aria-label="password" aria-describedby="password-addon">
                </div>

                <label>Confirmar contraseña</label>
                <div class="mb-3">
                  <input type="password" [(ngModel)]="this.pass2" name="pass2" class="form-control" placeholder="Confirmar contraseña" aria-label="password" aria-describedby="password-addon">
                </div>
                
                <div class="text-center">
                  <button  type="button" (click)="sendPass()" class="btn bg-gradient-info w-100 mt-4 mb-0">
                    <div *ngIf="!this.spinner">
                      Guardar contraseña
                    </div>
                    <div *ngIf="this.spinner" class="spinner-border text-light" style="width: 1rem; height: 1rem;" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </button>
                </div>

              </form>

              <div *ngIf="this.sent" role="form text-left">         
                <div class="p-2 bg-gradient-info rounded text-white text-center">
                  <p class="mb-0">Se ha gurdado la nueva contraseña con exito</p>
                </div>

              </div>


            </div>

            
          </div>
        </div>
        <div class="col-md-6">
          <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../assets/img/curved-images/reset.jpg')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>