/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';

#bgUser{
  background-image: url('./assets/images/user.jpg');
}

#bgAtm{
  background-image: url('./assets/images/atm.jpg');
}

#bgReset{
  background-image: url('./assets/images/reset.png');
}

footer{
  background-color: #282C34;
  color: white;
  height: 50px;
}

.container {
  min-height: 1000px;
}

.modalTem{
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    cursor: pointer;
}

#imageIcon{
    width: 5%;
}